* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #d4d4d4;
    font-size: 30px;
}
ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}
li{
    width: 200px;
    height: 8vh;
    background: #7eb9e3;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{text-decoration: none}
.top{
    background: #7eb9e3;
    height: 40vh;
    margin:1vh 0 ;
    text-align: right;
    padding: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;

}
.flex div{
    height: 20vh;
    text-align: right;
    padding: 10px;
    width: 49vw;
    background: #7eb9e3;
    margin-bottom: 1vh;
}
footer{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7eb9e3;
}